body {
    font-family: Arial, Helvetica, sans-serif;
    /*background image here, just placeholder for now.*/
    background-image: url("assets/Homepage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
    /* Centers body content */   
}

.recipeManager {
    
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    margin: 100px 75px 10px 75px;
    }

.recipeCont {
    padding: 2px;
    border: 2px solid gray;
    width: 300px;
}

input {
    margin: 5px;
}

button {
    margin: 5px;
    padding: 5px;
    background-color:red;
    color: white;
    border: none;
    cursor: pointer;
}