body {
    font-family: Arial, Helvetica, sans-serif;
    /*background image here, just placeholder for now.*/
    background-image: url("assets/Homepage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
    /* Centers body content */   
}

.recipeManager {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px auto 10px auto;
    border: 2px solid gray;
    border-radius: 12px;
    padding: 20px;
    width: fit-content;
    background-color: #e0c650;
    }

.recipeCont {
    padding: 2px;
    border: 2px solid gray;
    width: 300px;
}

input {
    margin: 5px;
}

button {
    margin: 5px;
    padding: 5px;
    background-color:red;
    color: white;
    border: none;
    cursor: pointer;
}



.navbar{
    padding: 15px 15px;
    text-decoration: none;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgb(175 131 9);
    border: 4px solid #000000;
    width: 100%;
    height: 100%;
    margin: 10px, 0;
}

.navbtn{
    background-color: #e0c650;
    border: 4px solid #000000;
    color: #000000;
    text-align: center;
    font-size: fit-content;
    cursor: pointer;
    text-decoration: none;
    justify-content: stretch;
    align-items: stretch;
    margin-bottom: 10px;
    padding: 20px 20px;
    width: 125px;
}

.navbtn:hover {
    background-color: #555555;
    color: white;
}

.add-btn {
    background-color: green;
    color: white;
}

#add-btn {
    background-color: green;
}
#add-ing {
    background-color: green;
}

.layout {
    display: flex;
    flex-direction: column;
}
/* Media Query for Mobile Devices. If screen width 900 < px, then do column.*/
@media (max-width: 900px) {
    .navbar {
        flex-direction: column;
        width: 175px;
        min-height: 100vh;
        flex-shrink: 0;
    }
    .navbtn {
        width: 100%;
        box-sizing: border-box;
    }

    .recipeManager {
        margin: 20px 15px;
    }
    .layout {
        /*content layout on mobile*/
        flex-direction: row;
        align-items: flex-start;
    }



}